<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='Product')">

<head>

</head>

<body>

	<!-- Page Content-->
	<th:block layout:fragment="content">
		<div class="container padding-bottom-3x mb-1">
		<div class="padding-bottom-1x">
		<hr><br>
				<h3 class="mb-0" align="center">상세 검색</h3>
		<br><hr>
		</div>
			<div class="row justify-content-center">

				<th:block th:insert="~{filter :: filter}"></th:block>
			
				<!--카테고리,옵션 선택자-->

				<!--카테고리,옵션 선택자 끝-->
				<div class="col-lg-10">
					<!-- Shop Toolbar-->
					<div class="shop-toolbar padding-bottom-1x padding-top-1x mb-2">
						<div class="price_opt ">
							<!-- prod_price_selector -->
							<div class="row justify-content-end">
								<span class="input-group-text" id="">가격범위 &nbsp;</span> <input
									type="text" class="form-control" id="minPriceSearch"
									style="width: 15%;" placeholder="최소 가격">~ <input
									type="text" class="form-control" id="maxPriceSearch"
									style="width: 15%;" placeholder="최대 가격"> &nbsp; <span
									class="input-group-text" id="basic-addon1">제품명</span>&nbsp; <input
									type="text" class="form-control" placeholder="검색어"
									aria-label="nameKeyword" style="width: 15%;"
									aria-describedby="basic-addon1" id="nameKeywordSearch">&nbsp;
								<button class="btn btn-secondary" id="main-search-btn"
									type="button">검색</button>
							</div>
						</div>

						<!--정렬기준 선택자-->
						<div class="view_opt row justify-content-end">
							<div class="column">
								<div class="shop-sorting">
									<label for="sorting">Sort by:</label> <select
										class="form-control" id="orderTypeSearch">
										<option th:value="판매량">판매량</option>
										<option th:value="조회순">조회순</option>
										<option th:value="최저가순">최저가순</option>
										<option th:value="최신순">최신순</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<!-- Product 반복-->
					<div id="toObserve">
						<div id="main-product-item-template-position">
							<div class="product-card product-list"
								th:each="productDto : ${productList}">
								<!-- 최초 요청 -->
								<a class="product-thumb" href="product_detail.html"
									th:href="@{'/product'+${productDto.osId}}">
									<img src="/bootstrap/img/shop/products/01.jpg" alt="Product"
									th:src="@{${productDto.pImage}}">
								</a>
								<div class="product-info">
									<h3 class="product-title">
										<a href="/product${productDto.osId}"
											th:href="@{'/product'+${productDto.osId}}"
											th:text="${productDto.name}">{{name}}</a>
									</h3>
									<h4 class="product-price"
										th:text="${productDto.totalPriceString}+'원'">{{totalPrice}}원</h4>
									<div class="product-price"
										th:text="${productDto.optionSetDesc}">{{optionSetDesc}}</div>
								<div class="d-inline text-success"
									th:text="'등록일 : '+${productDto.updateTime}">{{updateTime}}</div>
								<div class="product-buttons">
									<button th:if="${productDto.isInterested}"
										class="btn btn-outline-secondary btn-sm btn-wishlist active"
										data-toggle="tooltip" th:product-heart="|${productDto.osId}|"
										title="Whishlist">
										<i class="icon-heart" th:heart="|${productDto.osId}|"></i>
									</button>
									<button th:unless="${productDto.isInterested}"
										class="btn btn-outline-secondary btn-sm btn-wishlist"
										data-toggle="tooltip" title="Whishlist"
										th:product-heart-yet="|${productDto.osId}|">
										<i class="icon-heart" th:heart="|${productDto.osId}|"></i>
									</button>
									<button class="btn btn-outline-primary btn-sm" 
										data-toast-message="successfuly added to cart!"
										th:data-optionSetId="|${productDto.osId}|">Add to
										Cart</button>
										<!-- data-toast
										data-toast-type="success" data-toast-position="topRight"
										data-toast-icon="icon-circle-check" data-toast-title="Product" -->
								</div>
								
							</div>
						</div>
					</div>
					<!-- Product 반복 끝 -->
				</div>
			</div>
		</div>
	</div>
		<!-- 클라이언트 요청 -->
		<script id="main-product-item-template"
			type="text/x-handlebars-template">
					{{#each data}} 					
						<div class="product-card product-list">
						<a class="product-thumb"
							href="/product{{osId}}"> <img
							src="{{pimage}}" alt="Product">
						</a>
						<div class="product-info">
							<h3 class="product-title">
								<a href="/product{{osId}}">{{name}}</a>
							</h3>
							<h4 class="product-price">{{totalPriceString}}원</h4>
							<div class="product-price">{{optionSetDesc}}</div>
						<div class="d-inline text-success">등록일 : {{updateTime}}</div>
						<div class="product-buttons">
							{{#if isInterested}}
							<button
								class="btn btn-outline-secondary btn-sm btn-wishlist active"
								data-toggle="tooltip" data-original-title="Whishlist" product-heart="{{osId}}">
								<i class="icon-heart" heart="{{osId}}"></i>
							</button>
							{{else}}
							<button class="btn btn-outline-secondary btn-sm btn-wishlist"
								data-toggle="tooltip" data-original-title="Whishlist" product-heart-yet="{{osId}}">
								<i class="icon-heart" heart="{{osId}}"></i>
							</button>
							{{/if}}
							<button class="btn btn-outline-primary btn-sm" data-toast
								data-toast-type="success" data-toast-position="topRight"
								data-toast-icon="icon-circle-check" data-toast-title="Product"
								data-toast-message="successfuly added to cart!"
								data-optionSetId="{{osId}}">Add to Cart</button>
						</div>
						</div>
					</div>
			{{/each}}


				</script>
	</th:block>
	<!--컨텐츠 끝-->
	<th:block layout:fragment="script">
	</th:block>
	
	
</body>

</html>