<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>다나가닷컴 - 제품 등록</title>

	<!-- Custom fonts for this template -->
	<link href="/bootstrap_admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/bootstrap_admin/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/bootstrap_admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar Start -->
		<div th:insert="~{admin/admin_include::nav}"></div>
		<!-- Sidebar End -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div class="container-fluid">

					<h1 class="h3 mb-2 text-gray-800" style="margin-top: 20px; margin-bottom: 20px;">상품등록</h1>

					<div class="row">
						<!--상품 등록하기 시작-->
						<div class="col-lg-6">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary text-center">제품 등록하기</h6>
								</div>
								<div class="card o-hidden border-0 shadow-lg">
									<div class="card-body p-0">
										<!-- Nested Row within Card Body -->
										<div class="p-4">
											<div class="text-center">
												<h3 class="h5 text-gray-900 mb-2" style="font-weight: bold;">
													제품선택(Product)</h3>
												<hr>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<a>&nbsp&nbsp&nbsp&nbsp제품명(기존제품)</a>
													</div>
													<div class="text-right">
														<input type="checkbox" id="checkNewProduct">(신규제품일 경우
														체크)</input>
													</div>
												</div>
												<select class="form-select" id="productSelect">
													<option selected>기존 제품을 선택하세요</option>
													<div th:each="product : ${productList}">
														<option th:value="${product.id}"
															th:text="${product.id + '번 ' + product.name}" th:attr="data-name=${product.name}, data-brand=${product.brand},
															data-price=${product.price}, data-category=${product.categorySets}">Two</option>
													</div>
												</select>
											</div>
											<div class="text-center">
												<h3 class="h5 text-gray-900 mb-2"
													style="margin-top: 30px; font-weight: bold;">
													기본정보(OptionSet)
												</h3>
											</div>
											<hr>
											<div class="form-group row">
												<div class="col-sm-6 mb-3 mb-sm-0">
													<a>&nbsp&nbsp&nbsp&nbsp제품명(신규제품)</a>
													<input type="text" class="form-control form-control-user"
														id="txtProductName" placeholder="New Product Name"
														onchange="setInputValue('txtProductName', 'outputProductName');"
														disabled />
												</div>
												<div class="col-sm-6">
													<a>&nbsp&nbsp&nbsp&nbsp브랜드</a>
													<input type="text" class="form-control form-control-user"
														id="txtBrand" placeholder="Brand"
														onchange="setInputValue('txtBrand', 'outputBrand');" disabled />
												</div>
												<div class="col-sm-6" style="margin-top: 10px;">
													<a>&nbsp&nbsp&nbsp&nbsp가격(Product)</a>
													<input type="text" class="form-control form-control-user"
														id="txtProductPrice" placeholder="Price"
														onchange="setInputValue('txtProductPrice', 'outputProductPrice');"
														disabled />
												</div>
												<div class="col-sm-6" style="margin-top: 10px;">
													<a>&nbsp&nbsp&nbsp&nbsp재고</a>
													<input type="text" class="form-control form-control-user"
														id="txtStock" placeholder="OptionSet Stock"
														onchange="setInputValue('txtStock', 'outputStock');" />
												</div>
											</div>
											<div class="text-center">
												<h3 class="h5 text-gray-900 mb-2"
													style="margin-top: 30px; font-weight: bold;">
													이미지</h3>
											</div>
											<hr>
											<div class="form-group">
												<a>&nbsp&nbsp&nbsp&nbsp제품 이미지</a>
												<div style="margin-top: 20px; margin-bottom: 20px;" class="text-center">
													<input type="file" id="img" name="img"
														accept="image/png, image/jpeg" onchange="imagePreview(this);" />
													<br />
												</div>
												<a style="margin-top: 20px;">&nbsp&nbsp&nbsp&nbsp썸네일 이미지(prev)</a>
												<div style="margin-top: 20px; margin-bottom: 20px;" class="text-center">
													<input type="file" id="prevImg" name="prevImg"
														accept="image/png, image/jpeg" />
												</div>
												<a style="margin-top: 20px;">&nbsp&nbsp&nbsp&nbsp상세페이지 이미지(desc)</a>
												<div style="margin-top: 20px; margin-bottom: 20px;" class="text-center">
													<input type="file" id="descImg" name="descImg"
														accept="image/png, image/jpeg" />
												</div>
											</div>
											<div class="text-center">
												<h3 class="h5 text-gray-900 mb-2"
													style="margin-top: 30px; font-weight: bold;" id="countCategory">
													카테고리 정보</h3>
												<a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"
													id="deleteCategory">
													<i class="fas fa-trash"></i></a>
												<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
													id="createCategory">
													<i class="fas fa-arrow-right"></i></a>
											</div>
											<hr>
											<div id="categoryContainer"></div>
											<div class="text-center">
												<h3 class="h5 text-gray-900 mb-2"
													style="margin-top: 30px; font-weight: bold;" id="countOptions">
													옵션정보</h3>
												<a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"
													id="deleteOption">
													<i class="fas fa-trash"></i></a>
												<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
													id="createOption">
													<i class="fas fa-arrow-right"></i></a>
											</div>
											<hr>
											<div id="optionContainer"></div>
											<hr>
											</br>

										</div>
									</div>
								</div>
							</div>
						</div>
						<!--상품 등록하기 끝-->

						<!--상품 미리보기 시작-->
						<div class="col-lg-6">
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary text-center">등록제품 미리보기</h6>
								</div>
								<div class="card-body">
									<div class="text-center">
										<h3 class="h5 text-gray-900 mb-4" style="font-weight: bold;">
											제품 미리보기
										</h3>
										<hr>

										<img id="preview" />
									</div>
									<div class="text-center">
										<h3 class="h5 text-gray-900 mb-2" style="font-weight: bold;">
											선택제품(Product)</h3>
										<hr>
										<div class="h3" id="selectedProduct"></div>
										<div class="h3" id="outputProductName"></div>
									</div>
									<div class="text-center">
										<h3 class="h5 text-gray-900 mb-2" style="font-weight: bold; margin-top: 20px; ">
											카테고리 정보</h3>
										<hr>
										<table class="table" id="categorySetTable" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>상위 카테고리</th>
													<th>하위 카테고리</th>
												</tr>
											</thead>
											<tbody id="categoryTableContainer">
											</tbody>
										</table>

									</div>

									<div class="text-center">
										<h3 class="h5 text-gray-900 mb-2" style="font-weight: bold;">
											기본정보(OptionSet)</h3>
										<hr>
										<table class="table" id="optionSetTable" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>속성</th>
													<th>값(value)</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>브랜드</td>
													<td id="outputBrand"></td>
												<tr>
													<td>제품가격</td>
													<td id="outputProductPrice"></td>
												</tr>
												<tr>
													<td>재고</td>
													<td id="outputStock"></td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="text-center">
										<h3 class="h5 text-gray-900 mb-2" style="font-weight: bold;">
											옵션정보</h3>
										<hr>
										<table class="table" id="optionTable" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>속성</th>
													<th>값(value)</th>
													<th>가격</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th colspan="2">옵션가격합계</th>
													<th id="totPrice">0원</th>
												</tr>
											</tfoot>
											<tbody id="optionTableContainer">
											</tbody>
										</table>

										<hr>
										<div class="text-center" id="totProductPrice"
											style="font-weight: bold; font-size: 1.5em; color: navy;">총가격 : 0원
										</div>
										<a class="btn btn-primary btn-icon-split" style="float: right;"
											onclick="createProduct();">
											<span class="icon text-white-50">
												<i class="fas fa-arrow-right"></i>
											</span>
											<span class="text">상품등록</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!--상품 미리보기 끝-->
					</div>
				</div>
			</div>

			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:insert="~{admin/admin_include::bottom}"></div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/bootstrap_admin/vendor/jquery/jquery.min.js"></script>
	<script src="/bootstrap_admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/bootstrap_admin/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/bootstrap_admin/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/bootstrap_admin/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/bootstrap_admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/bootstrap_admin/js/demo/datatables-demo.js"></script>

	<script>
		//이미지 미리보기(500*500)
		function imagePreview(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					var img = new Image();
					img.src = e.target.result;
					img.onload = function () {
						var canvas = document.createElement("canvas");
						var ctx = canvas.getContext("2d");

						// 이미지 크기 조절
						var maxWidth = 500;
						var maxHeight = 500;
						var width = img.width;
						var height = img.height;

						if (width > maxWidth || height > maxHeight) {
							var aspectRatio = width / height;

							if (width > maxWidth) {
								width = maxWidth;
								height = width / aspectRatio;
							}

							if (height > maxHeight) {
								height = maxHeight;
								width = height * aspectRatio;
							}
						}

						canvas.width = width;
						canvas.height = height;
						ctx.drawImage(img, 0, 0, width, height);

						document.getElementById('preview').src = canvas.toDataURL("image/jpeg");

					};
				};
				reader.readAsDataURL(input.files[0]);
			} else {
				document.getElementById('preview').src = "";
			}
		}

		// 기존제품 선택 시 미리보기 변경
		$(() => {
			$("#productSelect").change(function () {
				var selectedName = $("#productSelect option:selected").attr("data-name");
				var selectedBrand = $("#productSelect option:selected").attr("data-brand");
				var selectedPrice = $("#productSelect option:selected").attr("data-price");
				var selectedCategory = $("#productSelect option:selected").attr("data-category");
				console.log(selectedCategory);
				$("#selectedProduct").text(selectedName);
				$("#outputBrand").text(selectedBrand);
				$("#outputProductPrice").text(selectedPrice);

			});
		});

		// 카테고리 추가&삭제
		$(() => {
			var counter = 1;
			$('#createCategory').click(function () {
				$('#countCategory').text('카테고리 정보 (현재 : ' + counter + '개)');
				var newDiv = $('<div></div>', {
					id: 'createdCategory' + counter,
					class: 'form-group row',
					html: `
						<div>
						<a>&nbsp&nbsp&nbsp&nbsp카테고리${counter}</a>
						</div>
						</br>
						<hr>
					<div class="col-sm-6 mb-3 mb-sm-0">
						<a>&nbsp&nbsp&nbsp&nbsp상위 카테고리</a>
					<select class="form-select" id="txtParentCategoryName${counter}" onchange="setInputValue('txtParentCategoryName${counter}', 'parentCategoryName${counter}');">
						<option selected>상위 카테고리</option>
						<option value="1">컴퓨터</option>
						<option value="2">노트북</option>
					</select>
					</div>
              	  <div class="col-sm-6">
                    <a>&nbsp&nbsp&nbsp&nbsp하위 카테고리</a>
                    <input type="text" class="form-control form-control-user"
                        id="txtChildCategoryName${counter}" placeholder="Option Value" onchange="setInputValue('txtChildCategoryName${counter}', 'childCategoryName${counter}');"/>
                </div>
            `});
				$('#categoryContainer').append(newDiv);

				// 미리보기 행 추가
				var newTable = $('<tr></tr>', {
					id: 'createdCategoryTable' + counter,
					html: `
						<td id="parentCategoryName${counter}"></td>
						<td id="childCategoryName${counter}"></td>
					`});
				$('#categoryTableContainer').append(newTable);

				counter++;
			});
			//옵션삭제
			$('#deleteCategory').click(function () {
				if (counter > 1) {
					counter--;
					$('#countCategory').text('카테고리 정보 (현재 : ' + (counter - 1) + '개)');
					$(`#createdCategory${counter}`).remove();
				}
			});
		});

		// 옵션 추가&삭제
		$(() => {
			let totalOptionPrice = 0;
			function updateTotalOptionPrice() {
				let productPrice = parseFloat($('#txtProductPrice').val()) || 0;
				totalOptionPrice = 0;
				$('[id^=txtOptionPrice]').each(function () {
					let price = parseFloat($(this).val()) || 0;
					totalOptionPrice += price;
				});
				$('#totPrice').text(totalOptionPrice.toLocaleString() + '원');
				$('#totProductPrice').text('총가격 : ' + (productPrice + totalOptionPrice).toLocaleString() + '원');
			}

			$(document).on('change', '[id^=txtOptionPrice], [id^=txtProductPrice]', function () {
				updateTotalOptionPrice();
			});

			var counter = 1;
			$('#createOption').click(function () {
				$('#countOptions').text('옵션정보 (현재 : ' + counter + '개)');
				var newDiv = $('<div></div>', {
					id: 'createdOption' + counter,
					class: 'form-group row',
					html: `
				<div>
				<a>&nbsp&nbsp&nbsp&nbsp옵션${counter}</a>
				</div>
				</br>
				<hr>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <a>&nbsp&nbsp&nbsp&nbsp옵션속성</a>
                    <input type="text" class="form-control form-control-user"
                        id="txtOptionName${counter}" placeholder="Option Name" onchange="setInputValue('txtOptionName${counter}', 'outputOptionName${counter}');" />
                </div>
                <div class="col-sm-6">
                    <a>&nbsp&nbsp&nbsp&nbsp옵션값(value)</a>
                    <input type="text" class="form-control form-control-user"
                        id="txtOptionValue${counter}" placeholder="Option Value" onchange="setInputValue('txtOptionValue${counter}', 'outputOptionValue${counter}');" />
                </div>
                <div class="col-sm-6" style="margin-top: 10px;">
                    <a>&nbsp&nbsp&nbsp&nbsp옵션가격</a>
                    <input type="text" class="form-control form-control-user"
                        id="txtOptionPrice${counter}" placeholder="Option Price" onchange="setInputValue('txtOptionPrice${counter}', 'outputOptionPrice${counter}');" />
                </div>
                <hr>
            `});
				$('#optionContainer').append(newDiv);

				// 미리보기 행 추가
				var newTable = $('<tr></tr>', {
					id: 'createdOptionTable' + counter,
					html: `
						<td id="outputOptionName${counter}"></td>
						<td id="outputOptionValue${counter}"></td>
						<td id="outputOptionPrice${counter}"></td>
					`});
				$('#optionTableContainer').append(newTable);

				counter++;

			});
			//옵션삭제
			$('#deleteOption').click(function () {
				if (counter > 1) {
					counter--;
					$('#countOptions').text('옵션정보 (현재 : ' + (counter - 1) + '개)');
					$(`#createdOption${counter}`).remove();
					$(`#createdOptionTable${counter}`).remove();
					updateTotalOptionPrice();
				}
			});
		});

		//입력값 실시간 노출
		function setInputValue(inputId, outputId) {
			$('#' + outputId).text($('#' + inputId).val());
		}

		document.getElementById('checkNewProduct').addEventListener('change', function () {
			var selectElement = document.getElementById('productSelect');
			var inputElement = document.getElementById('txtProductName');

			if (this.checked) {
				selectElement.disabled = true;
				inputElement.disabled = false;
				document.getElementById('txtBrand').disabled = false;
				document.getElementById('txtProductPrice').disabled = false;
				$('#selectedProduct').hide();
				$('#outputProductName').show();
			} else {
				selectElement.disabled = false;
				inputElement.disabled = true;
				inputElement.value = '';
				document.getElementById('txtBrand').disabled = true;
				document.getElementById('txtProductPrice').disabled = true;
				$('#outputProductName').hide();
				$('#selectedProduct').show();
			}
		});

		//submit
		function createProduct() {
			var img = $('#img')[0].files[0];
			var prevImage = $('#prevImg')[0].files[0];
			var descImage = $('#descImg')[0].files[0];

			var formData = new FormData();
			formData.append("img", img);
			formData.append("prevImage", prevImage);
			formData.append("descImage", descImage);

			$.ajax({
				type: "POST",
				url: "/admin_data/uploadImg",
				data: formData,
				contentType: false,
				processData: false,
				success: function (response) {
				},
				error: function (error) {
					alert(error);
				}
			});


			var sendJsonObject = {
				"categoryDto": [
					{
						"id": 0,
						"name": $('#txtChildCategoryName1').val(),
						"parentId": $('#txtParentCategoryName1').val()
					}
				],
				"adminOptionDto": [
					{
						"name": $('#txtOptionName1').val(),
						"value": $('#txtOptionValue1').val(),
						"extraPrice": $('#txtOptionPrice1').val()
					}
				],
				"adminProductDto": {
					"name": $('#txtProductName').val(),
					"brand": $('#txtBrand').val(),
					"price": $('#txtProductPrice').val(),
					"img": $('#img').val(),
					"prevImage": $('#prevImg').val(),
					"descImage": $('#descImg').val(),
					"stock": $('#txtStock').val()
				}
			}

			$.ajax({
				type: "POST",
				url: "/admin_data/product",
				contentType: "application/json",
				data: JSON.stringify(sendJsonObject),
				success: function () {
					location.href = '/admin/admin_product_list';
				},
				error: function (e) {
					alert(e + '왜 안되지?');
				}
			});

		}

		function uploadImg() {
			var img = $('#img')[0].files[0];
			var prevImage = $('#prevImg')[0].files[0];
			var descImage = $('#descImg')[0].files[0];

			var formData = new FormData();
			formData.append("img", img);
			formData.append("prevImage", prevImage);
			formData.append("descImage", descImage);

			$.ajax({
				type: "POST",
				url: "/admin_data/uploadImg",
				data: formData,
				contentType: false,
				processData: false,
				success: function (response) {
					alert(response + '상품등록을 완료해주세요');
				},
				error: function (error) {
					alert(error);
				}
			});
		}

	</script>

</body>

</html>