<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>다나가닷컴 - 주문 관리</title>

	<!-- Custom fonts for this template -->
	<link href="/bootstrap_admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/bootstrap_admin/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/bootstrap_admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar Start -->
		<div th:insert="~{admin/admin_include::nav}"></div>
		<!-- Sidebar End -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800" style="margin-top: 20px;">배송 현황</h1>

					<!-- DataTales Example -->
					<div class="card shadow mb-4" style="margin-top: 20px;">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary"
								th:text="${#calendars.format(#calendars.createNow(),'yyyy년 MM월 dd일') + ' 기준'}"></h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>주문번호</th>
											<th>회원명</th>
											<th>회원등급</th>
											<th>주문일자</th>
											<th>구매내용</th>
											<th>구매금액</th>
											<th>배송현황</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="order : ${orderList}">
											<td th:text="${order.id}"></td>
											<td th:text="${order.member.name}"></td>
											<td th:text="${order.member.grade}"></td>
											<td th:text="${#temporals.format(order.createDate, 'yyyy-MM-dd')}"></td>
											<td th:text="${order.description}"></td>
											<td
												th:text="${#numbers.formatDecimal(order.price,1,'COMMA',0,'POINT')+'원'}">
											</td>
											<td>
												<div class="dropdown mb-4"
													th:if="${order.getStatement().toString().equals('입금대기중')}">
													<button class="btn btn-danger dropdown-toggle" type="button"
														id="dropdownMenuButton" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false">
														<span th:class="'dropdown-selected'+${order.id}" th:text="${order.statement}"></span>
													</button>
													<div class="dropdown-menu animated--fade-in"
														aria-labelledby="dropdownMenuButton">
														<a class="dropdown-item" th:onclick="updateStatement([[${order.id}]], '입금대기중')">입금대기중</a>
														<a class="dropdown-item" th:onclick="updateStatement([[${order.id}]], '배송중')">배송중</a>
														<a class="dropdown-item" th:onclick="updateStatement([[${order.id}]], '배송완료')">배송완료</a>
													</div>
												</div>
												<div class="dropdown mb-4"
													th:if="${order.getStatement().toString().equals('배송완료')}">
													<button class="btn btn-primary dropdown-toggle" type="button"
														id="dropdownMenuButton" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false">
														<span th:class="'dropdown-selected'+${order.id}" th:text="${order.statement}"></span>
													</button>
													<div class="dropdown-menu animated--fade-in"
														aria-labelledby="dropdownMenuButton">
														<a class="dropdown-item" th:onclick="updateStatement([[${order.id}]], '입금대기중')">입금대기중</a>
														<a class="dropdown-item" th:onclick="updateStatement([[${order.id}]], '배송중')">배송중</a>
														<a class="dropdown-item" th:onclick="updateStatement([[${order.id}]], '배송완료')">배송완료</a>
													</div>
												</div>
												<div class="dropdown mb-4"
													th:if="${order.getStatement().toString().equals('배송중')}">
													<button class="btn btn-success dropdown-toggle" type="button"
														id="dropdownMenuButton" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false">
														<span th:class="'dropdown-selected'+${order.id}" th:text="${order.statement}"></span>
													</button>
													<div class="dropdown-menu animated--fade-in"
														aria-labelledby="dropdownMenuButton">
														<a class="dropdown-item" th:onclick="updateStatement([[${order.id}]], '입금대기중')">입금대기중</a>
														<a class="dropdown-item" th:onclick="updateStatement([[${order.id}]], '배송중')">배송중</a>
														<a class="dropdown-item" th:onclick="updateStatement([[${order.id}]], '배송완료')">배송완료</a>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:insert="~{admin/admin_include::bottom}"></div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Bootstrap core JavaScript-->
	<script src="/bootstrap_admin/vendor/jquery/jquery.min.js"></script>
	<script src="/bootstrap_admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/bootstrap_admin/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/bootstrap_admin/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/bootstrap_admin/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/bootstrap_admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/bootstrap_admin/js/demo/datatables-demo.js"></script>

	<script>
		function updateStatement(orderId, statement) {
			var data = {
				orderId: orderId,
				statement: statement
			}
			console.log(data)
			$.ajax({
				type: "PUT",
				url: "/admin_data/order/" + orderId,
				contentType: "application/json",
				data: JSON.stringify(data),
				success: function () {
					$('.dropdown-selected'+orderId).text(statement);
				},
				error: function () {
					modalBody.textContent = "변경이 안되는데요ㅠㅠ?";
				}
			});
		}

	</script>

</body>

</html>