<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<title>타이틀</title>
<!-- SEO Meta Tags-->
<meta name="description"
	content="Danaga.com - The most affordable computer purchase">
<meta name="keywords"
	content="shop, e-commerce, computer, pc, laptop, IT, intel, AMD, gaming">
<!-- Mobile Specific Meta Tag-->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Favicon and Apple Icons-->
<link rel="icon" type="image/x-icon"
	href="img/favicon.ico">
<link rel="icon" type="image/png"
	href="img/favicon.png">
<link rel="apple-touch-icon" href="touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="152x152"
	href="touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="180x180"
	href="touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="167x167"
	href="touch-icon-ipad-retina.png">
<!--Common CSS -->
<link rel="stylesheet" media="screen"
	href="css/vendor.min.css">
<!-- Main Template Styles-->
<link id="mainStyles" rel="stylesheet" media="screen"
	href="css/styles.min.css">
<!-- commonJS-->
<script defer src="js/modernizr.min.js"></script>
<script src="https://cdn.ckbox.io/CKBox/2.1.0/ckbox.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/super-build/ckeditor.js"></script>
</head>


<body>
	<!-- Modal 시작-->
	<th:block layout:fragment="modal" />
	
	<!-- Off-Canvas Category Menu-->
	<!-- common-top.html start -->
	<div class="offcanvas-container" id="shop-categories"
		th:insert="~{fragment/common-top::common-top}" th:remove="tag"></div>
	<!-- common-top.html end      -->
	<!-- Off-Canvas Wrapper-->
	<div class="offcanvas-wrapper">
		<!--banner 시작-->
		<th:block th:if="${title!=''}">
			<div class="page-title"
				th:insert="~{fragment/page-title::page-title(${title})}"
				th:remove="tag"></div>
		</th:block>
		<!--banner 끝-->


		<!--Content 내용 영역 시작-->
		<th:block layout:fragment="content" />
		<!--Content 내용 영역 끝  -->

      <!-- Site Footer-->
      <!-- common-footer.html start -->
      <footer class="site-footer"
         th:insert="~{fragment/common-footer::common-footer}"></footer>
      <!-- common-footer.html end -->
   </div>
   <!-- Back To Top Button-->
   <a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
   <!-- Backdrop-->
   <div class="site-backdrop"></div>
   <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
   <!--Common JS-->
   <script type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script defer type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>
   <script src="js/vendor.min.js" defer="defer"></script>
   <script src="js/scripts.min.js" defer="defer"></script>
   <script defer src="js/app.js" type="module"></script>
   <!-- 지도 api -->
   <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
   <!-- 카카오 로그인 -->
   <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
   <th:block layout:fragment="script"></th:block>

</body>
</html>