<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="layout/layout(title='아아디/비밀번호 찾기')">
<head>
</head>
<body>
      <th:block layout:fragment="content">
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8">
            <h2>아이디를 잊어버리셨나요?</h2>
            <p>아이디 찾기</p>
            <ol class="list-unstyled">
              <li><span class="text-primary text-medium">1. </span>찾고싶은 아이디에 등록된 이메일을 입력하세요</li>
              <li><span class="text-primary text-medium">2. </span>해당 이메일로 아이디를 보내드립니다.</li>
            </ol>
            <form class="card mt-2" id="find_id_form" style="width: 30rem;">
              <div class="card-body">
                <div class="form-group" id="id_mail_input" name="mail_input">
                  <label for="id-email">E-mail 주소</label>
                  <input class="form-control" name="email" type="email" placeholder="ex) email@google.com" id="id-email" required>
                </div>
              </div>
              <div class="col-12 text-center text-sm-left">
                <button class="btn-account-register btn btn-primary margin-bottom-none"
			       type="button" id="id-sendBtn" name="sendBtn" onclick="member_find_id_action_rest()">아이디 찾기</button>
              </div>
            </form>
          </div>
          <div class="col-lg-6 col-md-8">
            <h2>비밀번호를 잊어버리셨나요?</h2>
            <p>임시 비밀번호 발급</p>
            <ol class="list-unstyled">
              <li><span class="text-primary text-medium">1. </span>아이디를 입력하세요.</li>
              <li><span class="text-primary text-medium">2. </span>해당 아이디에 등록된 이메일을 입력하세요.</li>
              <li><span class="text-primary text-medium">3. </span>해당 이메일로 임시 비밀번호를 발급합니다.</li>
            </ol>
            <form class="card mt-2" id="find_password_form" style="width: 30rem; margin-left: 20px;">
              <div class="card-body">
                <div class="form-group">
                  <label for="username">아이디</label>
                  <input class="form-control" type="text" name="username" id="username" required>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group" id="mail_input" name="mail_input">
                  <label for="email">E-mail 주소</label>
                  <input class="form-control"  name="email" type="email" placeholder="ex) email@google.com" id="email" required>
                </div>
              </div>
              <div class="col-12 text-center text-sm-left">
                <button class="btn-account-register btn btn-primary" id="btn-temporary-pass" onclick="member_find_action_rest()" type="button">임시 비밀번호 발급</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </th:block>
      <th:block layout:fragment="script" >
     <script type="text/javascript">
/*************** Find Id *****************/
function member_find_id_action_rest() {
	let email = $('#id-email').val();
	let userData = {
		"email" : email
	}
	
	$.ajax({
		url:'/member/findid_rest',
    				method:'post',
    				data:JSON.stringify(userData),
    				dataType: "json",
    				contentType: 'application/json;charset=UTF-8',
    				success:function(resultJson){
					if(resultJson.result==0) {
						$('#id-email').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#id-email').tooltip('show');
			    		$('#id-email').css('border','0.5px solid orange');
					} else {
						$('#id-email').css('border','0.5px solid green');
			    		$('#id-email').tooltip('hide');
			    		$('#id-email').tooltip('dispose');
						$.ajax({
						    url:"/findidemailauthentication",
						    type:"post",
						    dataType:"json",
						    data:{"mail" : $("#id-email").val()},
						    success: function(data){
						        alert('아이디 발송');
						    },
						    error: function(data){
								alert("아이디 발송 실패");
							}
					});
				  }
				},
				error:function(){
					alert("서버 오류 다시 시도해 주십시요.");
				}
			});
		};

/********* Find Password *************/
let tempEmail = "";
function member_find_action_rest() {
	let username = $('#username').val();
	let email = $('#email').val();
	let userData = {
	"userName" : username,
	"email" : email
	}
			$.ajax({
					url:'/member/findpass_rest',
    				method:'post',
    				data:JSON.stringify(userData),
    				dataType: "json",
    				contentType: 'application/json;charset=UTF-8',
    				success:function(resultJson){
					if(resultJson.result==0) {
						$('#username').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#username').tooltip('show');
						$('#username').css('border','0.5px solid orange');
					} else if(resultJson.result==1){
			    		$('#username').tooltip('hide');
			    		$('#username').tooltip('dispose');
						$('#email').css('border','0.5px solid orange');
						$('#email').tooltip({'trigger':'hover', 'title': resultJson.msg});
			    		$('#email').tooltip('show');
		   			} else {
						$('#username').css('border','0.5px solid green');
						$('#email').css('border','0.5px solid green');
			    		$('#email').tooltip('hide');
			    		$('#email').tooltip('dispose');
			    		$('#number').tooltip('dispose');
						$.ajax({
					    url:"/findpassemailauthentication",
					    type:"post",
					    dataType:"json",
					    data:{"mail" : $('#email').val()},
					    success: function(data){
					        alert("임시 비밀번호 발송");
					    },
					    error: function(data){
							alert("임시 비밀번호 발송 실패");
						}
					});
				  }
				},
				error:function(){
					alert("서버 오류 다시 시도해 주십시요.");
				}
			});
		};

</script>
</th:block>
  </body>
  </html>