<!DOCTYPE html>
<html lang="ko">
<head>
    <title>회원가입 : 다나가</title>
	<script type="text/javascript" src="/resources/js/util/envUtils.js?v=10"></script>
    <link rel="stylesheet" type="text/css" href="//static.danawa.com/new/recss/common.css">
    <link rel="stylesheet" type="text/css" href="//static.danawa.com/new/recss/login.css">
    <script type="text/javascript" src="/resources/js/application/model/sns/join.js?dt=202309011330"></script>
</head>
<body class="body__login">
<!-- login_wrap -->
<div id="wrap" class="join_wrap join_wrap--finish">
    <!-- container -->
    <div id="container" class="container content__login content__login--join">
        <!-- box__join-finish -->
        <div class="box__join-finish">
            <div class="box__text">
                <div class="text__title">다나가회원이 되신 것을 환영합니다.</div>
                <div class="text__sub">가입해주셔서 진심으로 감사합니다. <br> 다나가의 다양한 서비스를 마음껏 이용해보세요!</div>
            </div>
            <div class="box__link">
                <a href="/index" id="danawa-member-joinStep-finish" class="link__main">홈으로</a>
            </div>
        </div>
        <!--// box_join_finish -->
    </div>
    <!--// container -->
</div>
<!--// login_wrap -->
</body>
</html>