<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
	<footer th:fragment="common-footer" class="site-footer" style="padding: 0;" th:remove="tag">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 ">
					<!-- Contact Info-->
					<section class="widget widget-light-skin">
						<h3 class="widget-title">사업자정보</h3>
						<ul class="list-unstyled text-sm text-white">
							<li><span class="opacity-50">상호명 : </span>어벤져스</li>
							<li><span class="opacity-50">대표이사 : </span>로다주</li>
							<li><span class="opacity-50">사업자등록번호 : </span>120-68-17544</li>
							<li><span class="opacity-50">통신판매업신고 : </span>2023-아이티윌-0522</li>
						</ul>
					</section>
				</div>
				<div class="col-lg-6 ">
					<!-- About Us-->
					<section class="widget widget-links widget-light-skin">
						<h3 class="widget-title">찾아오시는 길</h3>
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.3914130556127!2d127.02932487633386!3d37.49868552801516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca157b757b7c5%3A0x168510caec9b0fa2!2z7JWE7J207Yuw7JyM!5e0!3m2!1sko!2skr!4v1699593148314!5m2!1sko!2skr"
								width="400px" height="100px" style="border:0;" allowfullscreen="" loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe>
					</section>
				</div>
			</div>
			<!-- Copyright-->
			<div class="container text-center">
				<p class="footer-copyright">© All rights reserved. Made by Team Avengers with ITWILL</a></p>
			</div>
		</div>


	</footer>
</body>

</html>