<div class="col-lg-4" th:fragment="mypage(accountPage)" th:remove="tag">
			<aside class="user-info-wrapper" th:object="${loginUser}">
                <div class="info-label"><i class="icon-medal"></i><span th:text="*{grade}+' '">Silver</span><span th:text="*{gradePoint}+'points'">6000points</span>
                </div>
                  <h3 th:text="*{nickname}">다나카</h3>
            </aside>
						<nav class="list-group">
							<a th:classappend="${accountPage == 'profile'} ? 'list-group-item active' : 'list-group-item'" class="list-group-item" href="/member_info_form">
							<i class="icon-head"></i>내 정보</a>
							<a th:classappend="${accountPage == 'recentview'} ? 'list-group-item active' : 'list-group-item'" class="list-group-item" href="/recentview">
							<i class="icon-heart"></i>최근 본 상품</a>
							<a th:classappend="${accountPage == 'wishlist'} ? 'list-group-item active' : 'list-group-item'" class="list-group-item" href="/wishlist">
							<i class="icon-heart"></i>관심 상품</a>
							<a th:classappend="${accountPage == 'member_order_List'} ? 'list-group-item active' : 'list-group-item'" class="list-group-item" href="/member_order_List">
							<i class="icon-bag"></i>주문 목록</a>
						</nav>
					</div>
